---
import Hero from "../components/Hero.astro";
import ServicesList from "../components/ServicesList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mariana Silveira de Castro - Psicologia / Psicanálise">
  <main>
    <Hero />
    <ServicesList />
  </main>
</Layout>

<style>
  /* main{
    width: 100%;
  } */
</style>