---
import "animate.css";
import Hero from "../components/Hero.astro";
import ServicesList from "../components/ServicesList.astro";
import ComoFunciona from "../components/ComoFunciona.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

//export const prerender = true;
---

<Layout title="Mariana Silveira de Castro - Psicologia / Psicanálise">
  <main>
    <div class="hide animate__animated"><Hero /></div>
    <div class="hide animate__animated"><ServicesList /></div>
    <div class="hide animate__animated"><ComoFunciona /></div>
    <div class="hide animate__animated"><Footer /></div>
  </main>
</Layout>

<style>
  .hide {
    opacity: 0;
  }
</style>

<script>
  const elements = document.querySelectorAll(".hide");

  const observer = new IntersectionObserver(
    entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("animate__fadeInUp");
          entry.target.classList.remove("hide");
          observer.unobserve(entry.target);
        }
      });
    },
    {
      threshold: 0.2,
    },
  );

  elements.forEach(el => observer.observe(el));
</script>
