---
import Hero from "../components/Hero.astro";
import ServicesList from "../components/ServicesList.astro";
import ComoFunciona from "../components/ComoFunciona.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { getSession } from "auth-astro/server";
import { SignIn, SignOut } from "auth-astro/components";

const session = await getSession(Astro.request);
---

<Layout title="Mariana Silveira de Castro - Psicologia / Psicanálise">
  <main>
    <Hero />
    <ServicesList />
    <ComoFunciona />
    <Footer />
    <div>
      login <SignIn provider={"github"} class="bg-green-500 p-4 rounded-md" />
      <SignOut class="bg-red-500 p-4 rounded-md" />
    </div>
    {session ? <b>Logado {session.user?.name}</b> : <b>not logged</b>}
  </main>
</Layout>

<style>
  /* main{
    width: 100%;
  } */
</style>
