---
import Hero from "../components/Hero.astro";
import ServicesList from "../components/ServicesList.astro";
import ComoFunciona from "../components/ComoFunciona.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

//export const prerender = true;
---

<Layout title="Mariana Silveira de Castro - Psicologia / Psicanálise">
  <main>
    <Hero />
    <ServicesList />
    <ComoFunciona />
    <Footer/>
  </main>
</Layout>

<style>
  /* main{
    width: 100%;
  } */
</style>