---
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/admin");
}
---

<Layout title="Sign in">
  <div class="container mx-auto py-10 mt-20 rounded-lg p-10 bg-white">
    <h1 class="font-bold text-xl mb-5 text-marromTronco">
      Bem vinda, Mariana!
    </h1>
    <form
      action="/api/auth/signin"
      method="post"
      class="flex items-center flex-col gap-3 lg:flex-row w-full"
    >
      <div class="w-full">
        <label for="email" class="text-marromTitulo mb-3">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          class="p-3 rounded-lg w-full"
        />
      </div>
      <div class="w-full">
        <label for="password" class="text-marromTitulo mb-3">Senha:</label>
        <input
          type="password"
          name="password"
          id="password"
          class="p-3 rounded-lg w-full"
        />
      </div>
      <button type="submit" class="bg-marromTronco text-white font-bold p-4 rounded-xl">Entrar</button>
    </form>
  </div>
</Layout>
