---
import Acordeon from "../components/Acordeon.astro";

const { data } = Astro.props;
---

<div class="flex w-full justify-center">
  <div
    class="servicesContainer justify-between w-2/3 flex py-20 flex-row gap-5 self-stretch"
  >
    <div class="servicesTitle w-full flex flex-col align-middle">
      <h2 class="pb-10">Como Funciona</h2>
      {
        data &&
          data.map((entry: any) => {
            return (
              <Acordeon
                class:list={"mb-2 bg-white bg-opacity-60"}
                title={entry.pergunta}
              >
                <p class="text-marromTitulo px-10 pb-10">
                  {entry.resposta.split('\r\n').map((line: string) => (
                    <span>
                      {line}
                      <br />
                    </span>
                  ))}
                </p>
              </Acordeon>
            );
          })
      }
    </div>

    <style>
      .services {
        display: flex;
        align-items: flex-end;
        gap: 60px;
      }
    </style>
  </div>
</div>
