<form class="w-full" id="resend-form" method="post">
  <div>
    <input
      id="name"
      name="name"
      type="text"
      required
      placeholder="Nome:"
      class="block my-4 w-full px-5 py-4 font-normal rounded-md border-0 text-marromTitulo placeholder:text-marromTronco sm:text-lg sm:leading-6"
    />
  </div>
  <div>
    <input
      id="email"
      name="email"
      type="email"
      required
      placeholder="E-mail:"
      class="block my-4 w-full px-5 py-4 font-normal rounded-md border-0 text-marromTitulo placeholder:text-marromTronco sm:text-lg sm:leading-6"
    />
  </div>
  <div>
    <input
      id="phone"
      name="phone"
      type="tel"
      required
      placeholder="(DDD) Telefone:"
      class="block my-4 w-full px-5 py-4 font-normal rounded-md border-0 text-marromTitulo placeholder:text-marromTronco sm:text-lg sm:leading-6"
    />
  </div>
  <div>
    <textarea
      id="message"
      required
      name="message"
      placeholder="Mensagem:"
      rows="5"
      class="block w-full my-4 px-5 py-4 font-normal rounded-md border-0 text-marromTitulo placeholder:text-marromTronco sm:text-lg sm:leading-6"
    ></textarea>
  </div>

  <div>
    <button
      type="submit"
      class="flex w-full justify-center rounded-md bg-marromTronco px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-marromTitulo focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Enviar mensagem
    </button>
  </div>
  <div id="confirm" class="pt-4 font-bold text-marromTitulo hidden">Mensagem enviada com Sucesso!</div>
  <div id="erro" class="pt-4 font-bold text-marromTitulo hidden">Não foi possível enviar sua mensagem. Por gentileza, tente novamente.</div>
</form>

<script>
  import { actions } from "astro:actions";

  const form = document.getElementById("resend-form") as HTMLFormElement;
  const confirm = document.getElementById("confirm") as HTMLElement;
  const erro = document.getElementById("erro") as HTMLElement;

  
  form.addEventListener("submit", async e => {
    e.preventDefault();
    const formData = new FormData(form);  
    const res = await actions.send(formData);
    console.log(res)
    res.data && confirm.classList.remove("hidden");
    res.data && form.reset();
    res.error && erro.classList.remove("hidden");
  });
</script>
