---
import Logo from "./Logo.astro";
import Button from "./Button.astro"
import { Image } from "astro:assets";
import photoHero from "@assets/photo01.jpg"
---

<div
  class="heroContainer md:flex pt-16 pb-20 px-0 flex-col justify-center items-center gap-3 self-stretch"
>
  <div class="hero flex flex-col items-start lg:mx-[200px]">
    <div class="flex flex-row gap-14">
      <div class="logoAndText flex flex-col items-start gap-12 flex-1">
        <div class="logo flex w-96 justify-center items-center">
          <Logo />
        </div>
        <div class="textAndButton">
          <div class="presentation">
            <h2 class="pb-4">
              Olá! Bem vindo(a)! Que bom que você chegou até aqui!
            </h2>
            <section class="pb-8">
              Sou Mariana Castro, psicóloga clínica e psicanalista de orientação
              Lacaniana, com graduação em Psicologia pela Pontifícia
              Universidade Católica de Minas Gerais (PUC-MG). Pós-graduada em
              Saúde Mental e Clínica e em Psicologia Forense e Jurídica. E, em
              processo de formação continuada em Psicanálise, atualmente,
              vinculado ao Instituto de ESPE. Realizo atendimentos individuais
              (online e presenciais) para adolescentes, adultos e idosos.
            </section>
          </div>
        </div>
      </div>
      <div class="photo">
        <Image src={photoHero} class="overflow-clip rounded-full" alt="Mariana Silveira de Castro" />
      </div>
    </div>
    <Button title="Clique aqui para saber mais sobre mim" />
  </div>
</div>

<style>
  .logo svg {
    width: 385px;
    height: 255px;
    flex-shrink: 0;
  }
  .textAndButton {
    display: flex;
    padding-left: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
  }
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .presentation section {
    /* width: 479px;
    height: 235px; */
    color: #575149;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .photo {
    display: flex;
    /* width: 448px;
    height: 664px; */
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    mix-blend-mode: multiply;
    flex: 1 0 0;
    align-self: stretch;
    /* background:
      url(../../public/photo01.jpg),
      lightgray 50% / cover no-repeat; */
  }
</style>
