---
import Logo from "./Logo.astro";
---

<div
  class="heroContainer md:flex pt-16 pb-20 px-0 flex-col justify-center items-center gap-3 self-stretch"
>
  <div class="hero flex flex-col items-start lg:mx-[200px]">
    <div class="flex flex-row gap-14">
      <div class="logoAndText flex flex-col items-start gap-12 flex-1">
        <div class="logo flex w-96 justify-center items-center">
          <Logo />
        </div>
        <div class="textAndButton">
          <div class="presentation">
            <h2 class="pb-4">
              Olá! Bem vindo(a)! Que bom que você chegou até aqui!
            </h2>
            <section class="pb-8">
              Sou Mariana Castro, psicóloga clínica e psicanalista de orientação
              Lacaniana, com graduação em Psicologia pela Pontifícia
              Universidade Católica de Minas Gerais (PUC-MG). Pós-graduada em
              Saúde Mental e Clínica e em Psicologia Forense e Jurídica. E, em
              processo de formação continuada em Psicanálise, atualmente,
              vinculado ao Instituto de ESPE. Realizo atendimentos individuais
              (online e presenciais) para adolescentes, adultos e idosos.
            </section>
          </div>
        </div>
      </div>
      <div class="photo">
        <img src="../photo01.jpg" alt="Mariana Silveira de Castro" />
      </div>
    </div>
    <button
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="21"
        viewBox="0 0 20 21"
        fill="none"
      >
        <path
          d="M10 7.5V10.5M10 10.5V13.5M10 10.5H13M10 10.5H7M19 10.5C19 11.6819 18.7672 12.8522 18.3149 13.9442C17.8626 15.0361 17.1997 16.0282 16.364 16.864C15.5282 17.6997 14.5361 18.3626 13.4442 18.8149C12.3522 19.2672 11.1819 19.5 10 19.5C8.8181 19.5 7.64778 19.2672 6.55585 18.8149C5.46392 18.3626 4.47177 17.6997 3.63604 16.864C2.80031 16.0282 2.13738 15.0361 1.68508 13.9442C1.23279 12.8522 1 11.6819 1 10.5C1 8.11305 1.94821 5.82387 3.63604 4.13604C5.32387 2.44821 7.61305 1.5 10 1.5C12.3869 1.5 14.6761 2.44821 16.364 4.13604C18.0518 5.82387 19 8.11305 19 10.5Z"
          stroke="#DAD1B8"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <span>Clique aqui para saber mais sobre mim</span>
    </button>
  </div>
</div>

<style>
  /* .heroContainer {
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  .hero {
    display: flex;
    align-items: flex-end;
    gap: 60px;
  }
  .logoAndText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 51px;
  } 
  .logo {
    display: flex;
    width: 385px;
    height: 255px;
    justify-content: center;
    align-items: center;
  } */
  .logo svg {
    width: 385px;
    height: 255px;
    flex-shrink: 0;
  }
  .textAndButton {
    display: flex;
    padding-left: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
  }
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .presentation section {
    /* width: 479px;
    height: 235px; */
    color: #575149;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  button {
    display: flex;
    padding: 10px 17px;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 3px solid #eee8e0;
    background: #fff;
  }
  button svg {
    /* width: 18px;
    height: 18px; */
    stroke-width: 2px;
    stroke: #dad1b8;
  }
  button span {
    color: #575149;
    font-family: Jost;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .photo {
    display: flex;
    /* width: 448px;
    height: 664px; */
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    mix-blend-mode: multiply;
    flex: 1 0 0;
    align-self: stretch;
    /* background:
      url(../../public/photo01.jpg),
      lightgray 50% / cover no-repeat; */
  }
</style>
