<div class="bg-begeCopa flex justify-center px-14">
  <div
    class="servicesContainer justify-between w-full lg:w-2/3 flex py-20 flex-col lg:flex-row gap-5 self-stretch"
  >
    <div class="servicesTitle min-w-32 flex flex-col align-middle">
      <h2 class="pb-10">Serviços oferecidos</h2>
      <div>
        Realizo atendimentos individuais (online e presenciais) para
        adolescentes, adultos e idosos.
      </div>
    </div>
    <div
      class="servicesList pt-4 sm:pt-0 text-marromTronco flex w-full font-light text-3xl lg:text-5xl md:text-end font-jost"
    >
      ...ansiedade, depressão, tristeza, angústia, medos, traumas,
      autoconhecimento, relacionamentos interpessoais, saúde mental no
      trabalho...
    </div>
  </div>
</div>

<style>
  .services {
    display: flex;
    align-items: flex-end;
    gap: 60px;
  }
</style>
