---

---

<div class="container">
  <div class="ServicesContainer">
    <div class="Services">Serviços oferecidos</div>
  </div>
</div>

<style>
  .container {
    background-color: rgba(255, 255, 255, 0.37);
    width: 100%;
  }
  .ServicesContainer {
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  .Services {
    display: flex;
    align-items: flex-end;
    gap: 60px;
  }
</style>
