<div class="bg-begeCopa flex w-full justify-center">
  <div
    class="servicesContainer justify-between w-2/3 flex py-20 flex-row gap-5 self-stretch"
  >
    <div class="servicesTitle min-w-32 flex flex-col align-middle">
      <h2 class="pb-3">Serviços oferecidos</h2>
      <div>
        Realizo atendimentos individuais (online e presenciais) para
        adolescentes, adultos e idosos.
      </div>
    </div>
    <div class="servicesList text-marromTronco flex min-w-96 font-light text-5xl text-end font-jost">
      ...&nbsp;ansiedade, depressão, tristeza, angústia, medos, traumas,
      autoconhecimento, relacionamentos interpessoais, saúde mental no trabalho&nbsp;...
    </div>
  </div>
</div>

<style>
  /* .container {
    background-color: rgba(255, 255, 255, 0.37);
    width: 100%;
    border: 1px solid red;
  } 
  .servicesContainer {
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }*/
  .services {
    display: flex;
    align-items: flex-end;
    gap: 60px;
  }
</style>
