---
import TopHeader from "../components/TopHeader.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <div>
      <TopHeader />
      <div class="slotj"><slot /></div>
      <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1512"
        height="3922"
        viewBox="0 0 1512 3922"
        fill="none"
      >
        <path
          class="ArvoreBG"
          d="M1318.89 4060.01L1237.89 4046.58L1222.72 4024.58L1202.75 3929.09L1169 3780.89L1133.71 3566.67L1118.55 3192.81L1262.35 2260.2L1301.14 2039.77L1302.74 1977.1L1308.07 1966.41L1378.72 1858.12L1336.65 1873.04L1297.25 1849.79L1285.44 1755.92L1344.5 1453.92L1370.56 1407.17L1489.98 1239.7L1649.18 1066.63L1696.35 1028.96L1781.09 992.532L1955.38 955.109L2065.88 870.191L2069 863.477L2068.62 860.12L1972.83 911.966L1937.31 921.042L1829.94 949.016L1754.8 959.336L1650.39 1005.84L1459.8 1205.14L1364.69 1340.04L1309.44 1402.45L1293.29 1416.13L1277.06 1409.91L1268.67 1357.32L1276.75 1227.39L1281.32 1213.09L1387.79 961.201L1554.15 486.259L1556.66 475.194L1262.88 1042.64L1249.24 1009.44L1169.45 824.313L1108.03 690.285L1020.24 536.861L928.486 424.964L901.661 396.741L856.927 276.887L856.318 197.813L833.379 -53.0861L830.407 -56.5673L830.255 -6.46219L815.623 212.608L822.482 355.712L871.712 428.818L910.73 470.096L1009.87 621.033L1072.14 750.834L1181.42 1019.51L1211.59 1122.58L1212.81 1225.78L1198.87 1401.95L1197.12 1413.64L1188.2 1401.7L1103.84 1346.87L934.735 1299.38L807.393 1330.96L792.151 1342.4L698.874 1323.5L665.267 1341.9L816.309 1380.44L833.989 1369.5L882.685 1355.7L1025.95 1385.04L1136.45 1463.87L1170.44 1504.03L1192.39 1566.81L1192.01 1720.49L1196.2 1912.58L1166.56 2090.87L1137.9 2156.02L1133.86 2154.9L1133.79 2117.22L1089.05 1871.3L1049.73 1794.84L1033.04 1753.31L1022.6 1721.61L992.347 1713.28L968.723 1737.27L933.287 1751.94L840.162 1723.35L785.14 1700.97L772.871 1689.03L694.987 1539.59L468.653 1350.6L350.151 1288.69L162.3 1111.64L100.039 1023.86L-48.9454 893.689L-124.162 861.737L-125 864.347L-90.0972 882.997L46.7706 1027.59L92.8759 1114.87L147.897 1198.8L358.305 1391.76L447.924 1438.75L685.538 1653.47L712.058 1717.38L758.392 1855.63L877.961 2081.29L1057.58 2456.52L999.739 3197.78L1009.57 3560.58L1018.33 3730.91L1001.42 3902.48L975.582 3954.33L895.336 4011.15L695.445 4074.93L718.383 4130.26L862.948 4125.91L895.869 4120.56L943.194 4123.17L1014.22 4141.07L1100.56 4130.51L1110.24 4127.89L988.004 4235.44L1021.92 4243.9L1179.66 4153.38L1294.74 4118.82L1318.89 4060.01ZM1081.13 2265.05L996.844 2116.85L810.898 1788L802.82 1765.37H807.012L1001.11 1872.79L1039.29 1943.29L1050.57 2084.15L1081.13 2265.05Z"
          fill="white"
          fill-opacity="0.3"></path>
      </svg> -->
    </div>
  </body>
</html>
<style is:global>
  /* .MenuTopo {
    display: flex;
    height: 80px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    background: #fff;
  } 
  .Header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }*/
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  body {
    background: #eee8e0;
  }
  h2 {
    /* width: 491px;
    height: 56px; */
    color: var(--Marrom-Titulo, #595452);
    font-family: Jost;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.57px;
  }
  .slot {
    z-index: 1;
    position: absolute;
    display: flex;
    align-self: stretch;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
  }
  /* .ArvoreBG {
    width: 2194px;
    height: 4300.462px;
    flex-shrink: 0;
    fill: rgba(255, 255, 255, 0.8);
    z-index: 0;
    position: absolute;
  } */
</style>
